<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteRule ^data/(.*)$ index.php [L]
  RewriteRule ^src/(.*)$ index.php [L]
  RewriteRule ^config/(.*)$ index.php [L]
  RewriteRule ^vendor/(.*)$ index.php [L]
  RewriteRule ^templates/(.*)$ index.php [L]
  RewriteRule ^cron\.php$ index.php [L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*) index.php [L]
</IfModule>
