html {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 110%;
  padding: 0 .5em;
  background: #eee;
}

a {
  color: #0af;
  text-decoration: none;
}

a:hover {
  color: #4dc4ff;
}

.right {
  float: right;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}

.entry {
  margin: 2em auto;
}

.content {
  margin: 0.5em auto;
}

.author {
  font-size: 0.8em;
  margin: .2em;
}

.author .name {
  color: black;
}

.inner {
  background: white;
  border-radius: 5px;
  padding: .7em;
  margin-top: .5em;
}

img {
  width: 100%;
  margin: .3em 0;
}

img.logo {
  margin: auto;
  height: 1em;
  width: auto;
  border-radius: 2px;
  margin-bottom: 2px;
  vertical-align: text-bottom;
}

.read {
  border: solid 4px red;
}

nav.menu, header, footer {
  margin-top: .5em;
  margin-bottom: 1em;
}

nav.menu a {
  margin: 0 .3em;
}
nav.menu a.active {
  color: black;
  font-weight: 400;
  opacity: 1;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

.inside {
  margin: 0;
  font-size: .9rem;
  padding: 0;
  padding-bottom: .7em;
}

.outside>.inside {
  padding-left: .7em;
  margin-left: .5em !important;
  border-left: solid white 3px;
  border-top-left-radius: 5px;
}

.entry figure {
  width: 100%;
}

.entry figure img {
  width: 100%;
}

h1 {
  font-size: 1.1em;
  margin: .3em .1em;
  font-weight: 400;
}

.options, .date {
  font-size: 0.8em;
  display: block;
  color: inherit;
}

.options {
  float: right;
}

.options a {
  background: #eee;
  color: #999;
  display: inline-block;
  vertical-align: baseline;
  padding: .2em .4em;
  border-radius: 2px;
}

.subscription {
  margin: 1em auto;
}

.subscription .url {
  overflow-x: scroll;
  border: #ddd solid 2px;
  border-radius: 3px;
  padding: .4em .6em;
  margin-bottom: .2em;
}
